<footer class="footer-container">
    <div class="footer-content">
        <label class="titles">Overview</label>
        <ul class="list">
            <li class="content-links">About</li>
            <li class="content-links">Projects</li>
        </ul>
    </div>
    <div class="footer-content">
        <label class="titles">Socials</label>
        <ul class="list">
            <li class="content-links"><a class="contact-links" href="https://github.com/jadens12">Github</a></li>
            <li class="content-links"><a class="contact-links" href="https://www.linkedin.com/in/jadenseaton12/">Linkedin</a></li>
        </ul>

    </div>
    <div class="footer-content">
        <label class="titles">Contact Me</label>
        <form class="email" action="https://formsubmit.co/jissed1234@gmail.com" method="POST">
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="email" placeholder="Email">
            <input tpye="text" name="subject" placeholder="Subject">
            <textarea name="msg" placeholder="Message"></textarea>
            <input type="hidden" name="_captcha" value="false">
            <button type="submit">Submit</button>
        </form>
    </div>
</footer>
