
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #D4A373;
    height: 200px;
}

.contact-links{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.email{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.titles{
    color: black;
    font-size: 20px;
    margin: 10px;
}

.footer-content{
    display: flex;
    flex-direction: column;
}

.content-links{
    color: black;
    font-size: 18px;
    margin-bottom: 10px;
    list-style: none;
    padding: 0;
}

.list{
    margin: 10px;
    padding: 0;
}
